<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.auth.dao.impl.SaasMerchantDaoImpl">
    <select id="selectAllMerchantCode" parameterType="Integer" resultType="String">
        SELECT merchant_code merchantCode FROM youjie.saas_merchant where deleted=0;
    </select>
</mapper>