<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.finance.dao.impl.SaasSmsHistoryDaoImpl">
    <resultMap id="BaseResultMap" type="com.beitu.saas.finance.entity.SaasSmsHistoryEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode"/>
        <result column="op_type" jdbcType="TINYINT" property="opType"/>
        <result column="sms" jdbcType="BIGINT" property="sms"/>
        <result column="current_sms" jdbcType="BIGINT" property="currentSms"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="send_phone" jdbcType="VARCHAR" property="sendPhone"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,
    merchant_code,
    op_type,
    sms,
    current_sms,
    comment,
    send_phone,
    deleted,
    gmt_modified,
    gmt_create
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_sms_history
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.beitu.saas.finance.entity.SaasSmsHistoryEntity" useGeneratedKeys="true">
        insert into saas_sms_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="merchantCode !=null">
                merchant_code,
                </if>
                <if test="opType !=null">
                op_type,
                </if>
                <if test="sms !=null">
                sms,
                </if>
                <if test="currentSms !=null">
                current_sms,
                </if>
                <if test="comment !=null">
                comment,
                </if>
                <if test="sendPhone !=null">
                send_phone,
                </if>
                <if test="deleted !=null">
                deleted,
                </if>
                <if test="gmtModified !=null">
                gmt_modified,
                </if>
                <if test="gmtCreate !=null">
                gmt_create,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="merchantCode != null">
                    #{merchantCode,jdbcType=VARCHAR},
                </if>
                <if test="opType != null">
                    #{opType,jdbcType=TINYINT},
                </if>
                <if test="sms != null">
                    #{sms,jdbcType=BIGINT},
                </if>
                <if test="currentSms != null">
                    #{currentSms,jdbcType=BIGINT},
                </if>
                <if test="comment != null">
                    #{comment,jdbcType=VARCHAR},
                </if>
                <if test="sendPhone != null">
                    #{sendPhone,jdbcType=VARCHAR},
                </if>
                <if test="deleted != null">
                    #{deleted,jdbcType=BIT},
                </if>
                <if test="gmtModified != null">
                    #{gmtModified,jdbcType=TIMESTAMP},
                </if>
                <if test="gmtCreate != null">
                    #{gmtCreate,jdbcType=TIMESTAMP},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.beitu.saas.finance.entity.SaasSmsHistoryEntity">
        update saas_sms_history
        <set>
                <if test="merchantCode !=null">
                merchant_code = #{merchantCode,jdbcType=VARCHAR},
                </if>
                <if test="opType !=null">
                op_type = #{opType,jdbcType=TINYINT},
                </if>
                <if test="sms !=null">
                sms = #{sms,jdbcType=BIGINT},
                </if>
                <if test="currentSms !=null">
                current_sms = #{currentSms,jdbcType=BIGINT},
                </if>
                <if test="comment !=null">
                comment = #{comment,jdbcType=VARCHAR},
                </if>
                <if test="sendPhone !=null">
                send_phone = #{sendPhone,jdbcType=VARCHAR},
                </if>
                <if test="deleted !=null">
                deleted = #{deleted,jdbcType=BIT},
                </if>
                <if test="gmtModified !=null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
                </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey">
        update  saas_sms_history
        set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="paginationSql">
        <if test="page != null">
            limit  #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="paging">
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_sms_history
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="merchantCode !=null">
                and merchant_code = #{merchantCode,jdbcType=VARCHAR}
            </if>
            <if test="opType !=null">
                and op_type = #{opType,jdbcType=TINYINT}
            </if>
            <if test="sms !=null">
                and sms = #{sms,jdbcType=BIGINT}
            </if>
            <if test="currentSms !=null">
                and current_sms = #{currentSms,jdbcType=BIGINT}
            </if>
            <if test="comment !=null">
                and comment = #{comment,jdbcType=VARCHAR}
            </if>
            <if test="sendPhone !=null">
                and send_phone = #{sendPhone,jdbcType=VARCHAR}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        <include refid="paging"/>
    </select>
    <select id="queryTotal" resultType="INTEGER">
        select count(*) from saas_sms_history
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="merchantCode !=null">
                and merchant_code = #{merchantCode,jdbcType=VARCHAR}
            </if>
            <if test="opType !=null">
                and op_type = #{opType,jdbcType=TINYINT}
            </if>
            <if test="sms !=null">
                and sms = #{sms,jdbcType=BIGINT}
            </if>
            <if test="currentSms !=null">
                and current_sms = #{currentSms,jdbcType=BIGINT}
            </if>
            <if test="comment !=null">
                and comment = #{comment,jdbcType=VARCHAR}
            </if>
            <if test="sendPhone !=null">
                and send_phone = #{sendPhone,jdbcType=VARCHAR}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>
</mapper>