<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.borrower.dao.impl.SaasBorrowerGpsLogDaoImpl">

    <insert id="batchAddSaasBorrowerGpsLog" keyColumn="id" keyProperty="id" parameterType="java.util.List"
            useGeneratedKeys="true">
        INSERT INTO `saas_borrower_gps_log`
        (`merchant_code`,
        `borrower_code`,
        `longitude`,
        `latitude`,
        `location`,
        `log_time`) values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")">
                #{item.merchantCode,jdbcType=VARCHAR},
                #{item.borrowerCode,jdbcType=VARCHAR},
                #{item.longitude,jdbcType=VARCHAR},
                #{item.latitude,jdbcType=VARCHAR},
                #{item.location,jdbcType=VARCHAR},
                #{item.logTime,jdbcType=TIMESTAMP}
            </trim>
        </foreach>
    </insert>

    <select id="selectByBorrowerCodeAndMerchantCode" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `saas_borrower_gps_log`
        WHERE
        <if test="merchantCode != null">
            `merchant_code` = #{merchantCode,jdbcType=VARCHAR} AND
        </if>
        <if test="borrowerCode != null">
            `borrower_code` = #{borrowerCode,jdbcType=VARCHAR} AND
        </if>
        `deleted` = 0
        ORDER BY `log_time` DESC
        <if test="limit != null">
            LIMIT #{limit,jdbcType=INTEGER}
        </if>
    </select>

</mapper>