<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.borrower.dao.impl.SaasBorrowerWorkInfoDaoImpl">

    <select id="selectH5SaveInfoByBorrowerCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_borrower_work_info
        where borrower_code = #{borrowerCode,jdbcType=VARCHAR}
        and order_numb is null
        and deleted = 0
    </select>

    <select id="countH5SaveInfoByBorrowerCode" resultType="java.lang.Integer">
        select COUNT(1)
        from saas_borrower_work_info
        where borrower_code = #{borrowerCode,jdbcType=VARCHAR}
        and order_numb is null
        and deleted = 0
    </select>

    <update id="updateOrderNumbByBorrowerCode">
        update  saas_borrower_work_info
        set order_numb = #{orderNumb,jdbcType=VARCHAR}
        where borrower_code = #{borrowerCode,jdbcType=VARCHAR}
        and order_numb is null
        and deleted = 0
    </update>

</mapper>