<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.credit.dao.impl.SaasCreditCarrierExtDaoImpl">
    <resultMap id="BaseResultMap" type="com.beitu.saas.credit.entity.SaasCreditCarrierExt">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="record_id" jdbcType="BIGINT" property="recordId"/>
        <result column="activeRegion" jdbcType="VARCHAR" property="activeRegion"/>
        <result column="registerRegion" jdbcType="VARCHAR" property="registerRegion"/>
        <result column="mostContactRegion" jdbcType="VARCHAR" property="mostContactRegion"/>
        <result column="interactionCount" jdbcType="INTEGER" property="interactionCount"/>
        <result column="totalDuration" jdbcType="INTEGER" property="totalDuration"/>
        <result column="nightDuration" jdbcType="INTEGER" property="nightDuration"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,
    record_id,
    activeRegion,
    registerRegion,
    mostContactRegion,
    interactionCount,
    totalDuration,
    nightDuration,
    deleted,
    gmt_modified,
    gmt_create
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_credit_carrier_ext
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.beitu.saas.credit.entity.SaasCreditCarrierExt" useGeneratedKeys="true">
        insert into saas_credit_carrier_ext
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId !=null">
                record_id,
            </if>
            <if test="activeRegion !=null">
                activeRegion,
            </if>
            <if test="registerRegion !=null">
                registerRegion,
            </if>
            <if test="mostContactRegion !=null">
                mostContactRegion,
            </if>
            <if test="interactionCount !=null">
                interactionCount,
            </if>
            <if test="totalDuration !=null">
                totalDuration,
            </if>
            <if test="nightDuration !=null">
                nightDuration,
            </if>
            <if test="deleted !=null">
                deleted,
            </if>
            <if test="gmtModified !=null">
                gmt_modified,
            </if>
            <if test="gmtCreate !=null">
                gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">
                #{recordId,jdbcType=BIGINT},
            </if>
            <if test="activeRegion != null">
                #{activeRegion,jdbcType=VARCHAR},
            </if>
            <if test="registerRegion != null">
                #{registerRegion,jdbcType=VARCHAR},
            </if>
            <if test="mostContactRegion != null">
                #{mostContactRegion,jdbcType=VARCHAR},
            </if>
            <if test="interactionCount != null">
                #{interactionCount,jdbcType=INTEGER},
            </if>
            <if test="totalDuration != null">
                #{totalDuration,jdbcType=INTEGER},
            </if>
            <if test="nightDuration != null">
                #{nightDuration,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.beitu.saas.credit.entity.SaasCreditCarrierExt">
        update saas_credit_carrier_ext
        <set>
            <if test="recordId !=null">
                record_id = #{recordId,jdbcType=BIGINT},
            </if>
            <if test="activeRegion !=null">
                activeRegion = #{activeRegion,jdbcType=VARCHAR},
            </if>
            <if test="registerRegion !=null">
                registerRegion = #{registerRegion,jdbcType=VARCHAR},
            </if>
            <if test="mostContactRegion !=null">
                mostContactRegion = #{mostContactRegion,jdbcType=VARCHAR},
            </if>
            <if test="interactionCount !=null">
                interactionCount = #{interactionCount,jdbcType=INTEGER},
            </if>
            <if test="totalDuration !=null">
                totalDuration = #{totalDuration,jdbcType=INTEGER},
            </if>
            <if test="nightDuration !=null">
                nightDuration = #{nightDuration,jdbcType=INTEGER},
            </if>
            <if test="deleted !=null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified !=null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey">
        update  saas_credit_carrier_ext
        set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="paginationSql">
        <if test="page != null">
            limit #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="paging">
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_credit_carrier_ext
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="recordId !=null">
                and record_id = #{recordId,jdbcType=BIGINT}
            </if>
            <if test="activeRegion !=null">
                and activeRegion = #{activeRegion,jdbcType=VARCHAR}
            </if>
            <if test="registerRegion !=null">
                and registerRegion = #{registerRegion,jdbcType=VARCHAR}
            </if>
            <if test="mostContactRegion !=null">
                and mostContactRegion = #{mostContactRegion,jdbcType=VARCHAR}
            </if>
            <if test="interactionCount !=null">
                and interactionCount = #{interactionCount,jdbcType=INTEGER}
            </if>
            <if test="totalDuration !=null">
                and totalDuration = #{totalDuration,jdbcType=INTEGER}
            </if>
            <if test="nightDuration !=null">
                and nightDuration = #{nightDuration,jdbcType=INTEGER}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        <include refid="paging"/>
    </select>
    <select id="queryTotal" resultType="INTEGER">
        select count(*) from saas_credit_carrier_ext
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="recordId !=null">
                and record_id = #{recordId,jdbcType=BIGINT}
            </if>
            <if test="activeRegion !=null">
                and activeRegion = #{activeRegion,jdbcType=VARCHAR}
            </if>
            <if test="registerRegion !=null">
                and registerRegion = #{registerRegion,jdbcType=VARCHAR}
            </if>
            <if test="mostContactRegion !=null">
                and mostContactRegion = #{mostContactRegion,jdbcType=VARCHAR}
            </if>
            <if test="interactionCount !=null">
                and interactionCount = #{interactionCount,jdbcType=INTEGER}
            </if>
            <if test="totalDuration !=null">
                and totalDuration = #{totalDuration,jdbcType=INTEGER}
            </if>
            <if test="nightDuration !=null">
                and nightDuration = #{nightDuration,jdbcType=INTEGER}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>
</mapper>