<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.channel.dao.impl.SaasChannelRiskSettingsDaoImpl">
    <select id="selectSaasChannelRiskSettingsEntityList" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from saas_channel_risk_settings
        <if test="channelCode !=null">
            and channel_code = #{channelCode,jdbcType=VARCHAR}
        </if>
        and deleted = 0
    </select>
</mapper>