<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.borrower.dao.impl.SaasBorrowerPersonalInfoDaoImpl">
    <resultMap id="BaseResultMap" type="com.beitu.saas.borrower.entity.SaasBorrowerPersonalInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="borrower_code" jdbcType="VARCHAR" property="borrowerCode"/>
        <result column="order_numb" jdbcType="VARCHAR" property="orderNumb"/>
        <result column="wechat_code" jdbcType="VARCHAR" property="wechatCode"/>
        <result column="education" jdbcType="TINYINT" property="education"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="live_duration" jdbcType="VARCHAR" property="liveDuration"/>
        <result column="marital_status" jdbcType="TINYINT" property="maritalStatus"/>
        <result column="zm_credit_score" jdbcType="SMALLINT" property="zmCreditScore"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,
    borrower_code,
    order_numb,
    wechat_code,
    education,
    address,
    live_duration,
    marital_status,
    zm_credit_score,
    deleted,
    gmt_modified,
    gmt_create
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_borrower_personal_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.beitu.saas.borrower.entity.SaasBorrowerPersonalInfo" useGeneratedKeys="true">
        insert into saas_borrower_personal_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="borrowerCode !=null">
                borrower_code,
            </if>
            <if test="orderNumb !=null">
                order_numb,
            </if>
            <if test="wechatCode !=null">
                wechat_code,
            </if>
            <if test="education !=null">
                education,
            </if>
            <if test="address !=null">
                address,
            </if>
            <if test="liveDuration !=null">
                live_duration,
            </if>
            <if test="maritalStatus !=null">
                marital_status,
            </if>
            <if test="zmCreditScore !=null">
                zm_credit_score,
            </if>
            <if test="deleted !=null">
                deleted,
            </if>
            <if test="gmtModified !=null">
                gmt_modified,
            </if>
            <if test="gmtCreate !=null">
                gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="borrowerCode != null">
                #{borrowerCode,jdbcType=VARCHAR},
            </if>
            <if test="orderNumb != null">
                #{orderNumb,jdbcType=VARCHAR},
            </if>
            <if test="wechatCode != null">
                #{wechatCode,jdbcType=VARCHAR},
            </if>
            <if test="education != null">
                #{education,jdbcType=TINYINT},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="liveDuration != null">
                #{liveDuration,jdbcType=VARCHAR},
            </if>
            <if test="maritalStatus != null">
                #{maritalStatus,jdbcType=TINYINT},
            </if>
            <if test="zmCreditScore != null">
                #{zmCreditScore,jdbcType=SMALLINT},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.beitu.saas.borrower.entity.SaasBorrowerPersonalInfo">
        update saas_borrower_personal_info
        <set>
            <if test="borrowerCode !=null">
                borrower_code = #{borrowerCode,jdbcType=VARCHAR},
            </if>
            <if test="orderNumb !=null">
                order_numb = #{orderNumb,jdbcType=VARCHAR},
            </if>
            <if test="wechatCode !=null">
                wechat_code = #{wechatCode,jdbcType=VARCHAR},
            </if>
            <if test="education !=null">
                education = #{education,jdbcType=TINYINT},
            </if>
            <if test="address !=null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="liveDuration !=null">
                live_duration = #{liveDuration,jdbcType=VARCHAR},
            </if>
            <if test="maritalStatus !=null">
                marital_status = #{maritalStatus,jdbcType=TINYINT},
            </if>
            <if test="zmCreditScore !=null">
                zm_credit_score = #{zmCreditScore,jdbcType=SMALLINT},
            </if>
            <if test="deleted !=null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified !=null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey">
        update  saas_borrower_personal_info
        set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="paginationSql">
        <if test="page != null">
            limit #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="paging">
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_borrower_personal_info
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="borrowerCode !=null">
                and borrower_code = #{borrowerCode,jdbcType=VARCHAR}
            </if>
            <if test="orderNumb !=null">
                and order_numb = #{orderNumb,jdbcType=VARCHAR}
            </if>
            <if test="wechatCode !=null">
                and wechat_code = #{wechatCode,jdbcType=VARCHAR}
            </if>
            <if test="education !=null">
                and education = #{education,jdbcType=TINYINT}
            </if>
            <if test="address !=null">
                and address = #{address,jdbcType=VARCHAR}
            </if>
            <if test="liveDuration !=null">
                and live_duration = #{liveDuration,jdbcType=VARCHAR}
            </if>
            <if test="maritalStatus !=null">
                and marital_status = #{maritalStatus,jdbcType=TINYINT}
            </if>
            <if test="zmCreditScore !=null">
                and zm_credit_score = #{zmCreditScore,jdbcType=SMALLINT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        <include refid="paging"/>
    </select>
    <select id="queryTotal" resultType="INTEGER">
        select count(*) from saas_borrower_personal_info
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="borrowerCode !=null">
                and borrower_code = #{borrowerCode,jdbcType=VARCHAR}
            </if>
            <if test="orderNumb !=null">
                and order_numb = #{orderNumb,jdbcType=VARCHAR}
            </if>
            <if test="wechatCode !=null">
                and wechat_code = #{wechatCode,jdbcType=VARCHAR}
            </if>
            <if test="education !=null">
                and education = #{education,jdbcType=TINYINT}
            </if>
            <if test="address !=null">
                and address = #{address,jdbcType=VARCHAR}
            </if>
            <if test="liveDuration !=null">
                and live_duration = #{liveDuration,jdbcType=VARCHAR}
            </if>
            <if test="maritalStatus !=null">
                and marital_status = #{maritalStatus,jdbcType=TINYINT}
            </if>
            <if test="zmCreditScore !=null">
                and zm_credit_score = #{zmCreditScore,jdbcType=SMALLINT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>
</mapper>