<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.borrower.dao.impl.SaasBorrowerWorkInfoDaoImpl">
    <resultMap id="BaseResultMap" type="com.beitu.saas.borrower.entity.SaasBorrowerWorkInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="borrower_code" jdbcType="VARCHAR" property="borrowerCode"/>
        <result column="order_numb" jdbcType="VARCHAR" property="orderNumb"/>
        <result column="career" jdbcType="VARCHAR" property="career"/>
        <result column="salary" jdbcType="SMALLINT" property="salary"/>
        <result column="pay_day" jdbcType="SMALLINT" property="payDay"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="company_detail_address" jdbcType="VARCHAR" property="companyDetailAddress"/>
        <result column="success" jdbcType="BIT" property="success"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,
    borrower_code,
    order_numb,
    career,
    salary,
    pay_day,
    company_name,
    company_detail_address,
    success,
    deleted,
    gmt_modified,
    gmt_create
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_borrower_work_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.beitu.saas.borrower.entity.SaasBorrowerWorkInfo" useGeneratedKeys="true">
        insert into saas_borrower_work_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="borrowerCode !=null">
                borrower_code,
            </if>
            <if test="orderNumb !=null">
                order_numb,
            </if>
            <if test="career !=null">
                career,
            </if>
            <if test="salary !=null">
                salary,
            </if>
            <if test="payDay !=null">
                pay_day,
            </if>
            <if test="companyName !=null">
                company_name,
            </if>
            <if test="companyDetailAddress !=null">
                company_detail_address,
            </if>
            <if test="success !=null">
                success,
            </if>
            <if test="deleted !=null">
                deleted,
            </if>
            <if test="gmtModified !=null">
                gmt_modified,
            </if>
            <if test="gmtCreate !=null">
                gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="borrowerCode != null">
                #{borrowerCode,jdbcType=VARCHAR},
            </if>
            <if test="orderNumb != null">
                #{orderNumb,jdbcType=VARCHAR},
            </if>
            <if test="career != null">
                #{career,jdbcType=VARCHAR},
            </if>
            <if test="salary != null">
                #{salary,jdbcType=SMALLINT},
            </if>
            <if test="payDay != null">
                #{payDay,jdbcType=SMALLINT},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyDetailAddress != null">
                #{companyDetailAddress,jdbcType=VARCHAR},
            </if>
            <if test="success != null">
                #{success,jdbcType=BIT},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.beitu.saas.borrower.entity.SaasBorrowerWorkInfo">
        update saas_borrower_work_info
        <set>
            <if test="borrowerCode !=null">
                borrower_code = #{borrowerCode,jdbcType=VARCHAR},
            </if>
            <if test="orderNumb !=null">
                order_numb = #{orderNumb,jdbcType=VARCHAR},
            </if>
            <if test="career !=null">
                career = #{career,jdbcType=VARCHAR},
            </if>
            <if test="salary !=null">
                salary = #{salary,jdbcType=SMALLINT},
            </if>
            <if test="payDay !=null">
                pay_day = #{payDay,jdbcType=SMALLINT},
            </if>
            <if test="companyName !=null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyDetailAddress !=null">
                company_detail_address = #{companyDetailAddress,jdbcType=VARCHAR},
            </if>
            <if test="success !=null">
                success = #{success,jdbcType=BIT},
            </if>
            <if test="deleted !=null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified !=null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey">
        update  saas_borrower_work_info
        set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="paginationSql">
        <if test="page != null">
            limit #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="paging">
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_borrower_work_info
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="borrowerCode !=null">
                and borrower_code = #{borrowerCode,jdbcType=VARCHAR}
            </if>
            <if test="orderNumb !=null">
                and order_numb = #{orderNumb,jdbcType=VARCHAR}
            </if>
            <if test="career !=null">
                and career = #{career,jdbcType=VARCHAR}
            </if>
            <if test="salary !=null">
                and salary = #{salary,jdbcType=SMALLINT}
            </if>
            <if test="payDay !=null">
                and pay_day = #{payDay,jdbcType=SMALLINT}
            </if>
            <if test="companyName !=null">
                and company_name = #{companyName,jdbcType=VARCHAR}
            </if>
            <if test="companyDetailAddress !=null">
                and company_detail_address = #{companyDetailAddress,jdbcType=VARCHAR}
            </if>
            <if test="success !=null">
                and success = #{success,jdbcType=BIT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        <include refid="paging"/>
    </select>
    <select id="queryTotal" resultType="INTEGER">
        select count(*) from saas_borrower_work_info
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="borrowerCode !=null">
                and borrower_code = #{borrowerCode,jdbcType=VARCHAR}
            </if>
            <if test="orderNumb !=null">
                and order_numb = #{orderNumb,jdbcType=VARCHAR}
            </if>
            <if test="career !=null">
                and career = #{career,jdbcType=VARCHAR}
            </if>
            <if test="salary !=null">
                and salary = #{salary,jdbcType=SMALLINT}
            </if>
            <if test="payDay !=null">
                and pay_day = #{payDay,jdbcType=SMALLINT}
            </if>
            <if test="companyName !=null">
                and company_name = #{companyName,jdbcType=VARCHAR}
            </if>
            <if test="companyDetailAddress !=null">
                and company_detail_address = #{companyDetailAddress,jdbcType=VARCHAR}
            </if>
            <if test="success !=null">
                and success = #{success,jdbcType=BIT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>
</mapper>