<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.borrower.dao.impl.SaasBorrowerLoanCrawlDaoImpl">
    <resultMap id="BaseResultMap" type="com.beitu.saas.borrower.entity.SaasBorrowerLoanCrawl">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="borrower_code" jdbcType="VARCHAR" property="borrowerCode"/>
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="platform" jdbcType="SMALLINT" property="platform"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,
    borrower_code,
    task_id,
    token,
    platform,
    url,
    deleted,
    gmt_modified,
    gmt_create
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_borrower_loan_crawl
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.beitu.saas.borrower.entity.SaasBorrowerLoanCrawl" useGeneratedKeys="true">
        insert into saas_borrower_loan_crawl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="borrowerCode !=null">
                borrower_code,
            </if>
            <if test="taskId !=null">
                task_id,
            </if>
            <if test="token !=null">
                token,
            </if>
            <if test="platform !=null">
                platform,
            </if>
            <if test="url !=null">
                url,
            </if>
            <if test="deleted !=null">
                deleted,
            </if>
            <if test="gmtModified !=null">
                gmt_modified,
            </if>
            <if test="gmtCreate !=null">
                gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="borrowerCode != null">
                #{borrowerCode,jdbcType=VARCHAR},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="platform != null">
                #{platform,jdbcType=SMALLINT},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.beitu.saas.borrower.entity.SaasBorrowerLoanCrawl">
        update saas_borrower_loan_crawl
        <set>
            <if test="borrowerCode !=null">
                borrower_code = #{borrowerCode,jdbcType=VARCHAR},
            </if>
            <if test="taskId !=null">
                task_id = #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="token !=null">
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="platform !=null">
                platform = #{platform,jdbcType=SMALLINT},
            </if>
            <if test="url !=null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="deleted !=null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified !=null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey">
        update  saas_borrower_loan_crawl
        set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="paginationSql">
        <if test="page != null">
            limit #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="paging">
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_borrower_loan_crawl
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="borrowerCode !=null">
                and borrower_code = #{borrowerCode,jdbcType=VARCHAR}
            </if>
            <if test="taskId !=null">
                and task_id = #{taskId,jdbcType=VARCHAR}
            </if>
            <if test="token !=null">
                and token = #{token,jdbcType=VARCHAR}
            </if>
            <if test="platform !=null">
                and platform = #{platform,jdbcType=SMALLINT}
            </if>
            <if test="url !=null">
                and url = #{url,jdbcType=VARCHAR}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        <include refid="paging"/>
    </select>
    <select id="queryTotal" resultType="INTEGER">
        select count(*) from saas_borrower_loan_crawl
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="borrowerCode !=null">
                and borrower_code = #{borrowerCode,jdbcType=VARCHAR}
            </if>
            <if test="taskId !=null">
                and task_id = #{taskId,jdbcType=VARCHAR}
            </if>
            <if test="token !=null">
                and token = #{token,jdbcType=VARCHAR}
            </if>
            <if test="platform !=null">
                and platform = #{platform,jdbcType=SMALLINT}
            </if>
            <if test="url !=null">
                and url = #{url,jdbcType=VARCHAR}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>
</mapper>