<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.order.dao.impl.SaasOrderBillDetailDaoImpl">

    <select id="selectByBorrowerCodeAndMerchantCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_order_bill_detail
        where borrowerCode = #{borrowerCode,jdbcType=VARCHAR} and merchantCode = #{merchantCode,jdbcType=VARCHAR}
        and deleted = false and visible = true
    </select>

    <select id="selectByOrderNumb" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_order_bill_detail
        where orderNumb = #{orderNumb,jdbcType=VARCHAR} and deleted = false
    </select>


    <select id="selectLoanDataDetail" parameterType="java.lang.String"
            resultType="com.beitu.saas.order.vo.LoanDataDetailVo">
      select
      sum(case when visible=1 then real_capital else null end) loanTotalAmount,
      sum(case when created_dt=DATE_SUB(curdate(),INTERVAL 0 DAY) and visible=1 then real_capital else null end) todayLoanTotalAmount,
      sum(case when visible=1 and destroy=1 then amount else null end) destroyTotalAmount,
      sum(case when visible=1 and created_dt=DATE_SUB(curdate(),INTERVAL 0 DAY) then amount else null end) totalDestroyTotalAmount,
      sum(case when visible=1 and destroy=0 then real_capital else null end) noRepayTotalAmount,
      sum(case when visible=1 and destroy=0  and datediff(DATE_SUB(curdate(),INTERVAL 0 DAY),repayment_dt)>0 then real_capital else null end) overdueTotalAmount
      from saas_order_bill_detail
      where merchant_code = #{merchantCode,jdbcType=VARCHAR} and deleted = false
    </select>


    <select id="selectNoRepayOrder" parameterType="java.lang.String"
            resultType="com.beitu.saas.order.vo.NoRepayOrderVo">
        select order_numb orderNumb,real_capital realCapital
        from saas_order_bill_detail
        where merchant_code = #{merchantCode,jdbcType=VARCHAR}
        and visible=1 and destroy=0
        and deleted = false
    </select>

    <select id="countNoRepayOrder" parameterType="map" resultType="INTEGER">
        SELECT COUNT(*)
        from saas_channel
        where merchant_code = #{merchantCode,jdbcType=VARCHAR}
        and visible=1 and destroy=0
        and deleted = false
    </select>

    <select id="selectOverdueOrder" parameterType="java.lang.String"
            resultType="com.beitu.saas.order.vo.OverdueOrderVo">
        select order_numb orderNumb,real_capital realCapital
        from saas_order_bill_detail
        where merchant_code = #{merchantCode,jdbcType=VARCHAR}
        and datediff(DATE_SUB(curdate(),INTERVAL 0 DAY),repayment_dt)>0
        and visible=1 and destroy=0
        and deleted = false
    </select>

    <select id="countOverdueOrder" parameterType="map" resultType="INTEGER">
        SELECT COUNT(*)
        from saas_channel
        where merchant_code = #{merchantCode,jdbcType=VARCHAR}
        and datediff(DATE_SUB(curdate(),INTERVAL 0 DAY),repayment_dt)>0
        and visible=1 and destroy=0
        and deleted = false
    </select>

</mapper>