<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.order.dao.impl.SaasOrderApplicationDaoImpl">

    <select id="selectByBorrowerCodeAndOrderNumb" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_order_application
        where borrower_code = #{borrowerCode,jdbcType=VARCHAR}
        <if test="orderNumb !=null">
            and order_numb = #{orderNumb,jdbcType=VARCHAR}
        </if>
        <if test="orderNumb == null">
            and order_numb is null
        </if>
        and deleted = FALSE
    </select>

    <update id="updateOrderNumbByBorrowerCode">
        update  saas_order_application
        set order_numb = #{orderNumb,jdbcType=VARCHAR},
        gmt_modified = NOW()
        where borrower_code = #{borrowerCode,jdbcType=VARCHAR}
        and order_numb is null
        and deleted = 0
    </update>

    <select id="selectAllByBorrowerCodeAndOrderNumb" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_order_application
        where borrower_code = #{borrowerCode,jdbcType=VARCHAR}
        <if test="orderNumb !=null">
            and order_numb = #{orderNumb,jdbcType=VARCHAR}
        </if>
        and deleted = FALSE
        order by id desc
    </select>

</mapper>