<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.finance.dao.impl.SaasConsumeDayStatDaoImpl">
    <select id="getLastClearConsumeDayStat" parameterType="map"
            resultType="com.beitu.saas.finance.entity.SaasConsumeDayStatEntity">
        SELECT
        <include refid="Base_Column_List"/>
        from saas_consume_day_stat
        <where>
            <trim prefixOverrides="and">
                <if test="merchantCode !=null">
                    merchant_code=#{merchantCode,jdbcType=VARCHAR}
                </if>
                and deleted=0
                order by dt desc limit 1
            </trim>
        </where>

    </select>
</mapper>