<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmsBusinessRefDaoImpl">
    <resultMap id="BaseResultMap" type="com.beitu.saas.sms.entity.SmsBusinessRef">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="app_id" jdbcType="BIGINT" property="appId"/>
        <result column="biz_function_id" jdbcType="BIGINT" property="bizFunctionId"/>
        <result column="app_servicer_id" jdbcType="BIGINT" property="appServicerId"/>
        <result column="message_template_id" jdbcType="BIGINT" property="messageTemplateId"/>
        <result column="send_rule_id" jdbcType="BIGINT" property="sendRuleId"/>
        <result column="business_type_id" jdbcType="BIGINT" property="businessTypeId"/>
        <result column="rank" jdbcType="INTEGER" property="rank"/>
        <result column="send_flag" jdbcType="SMALLINT" property="sendFlag"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,
    app_id,
    biz_function_id,
    app_servicer_id,
    message_template_id,
    send_rule_id,
    business_type_id,
    rank,
    send_flag,
    deleted,
    gmt_modified,
    gmt_create
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sms_business_ref
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.beitu.saas.sms.entity.SmsBusinessRef" useGeneratedKeys="true">
        insert into sms_business_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="appId !=null">
                app_id,
                </if>
                <if test="bizFunctionId !=null">
                biz_function_id,
                </if>
                <if test="appServicerId !=null">
                app_servicer_id,
                </if>
                <if test="messageTemplateId !=null">
                message_template_id,
                </if>
                <if test="sendRuleId !=null">
                send_rule_id,
                </if>
                <if test="businessTypeId !=null">
                business_type_id,
                </if>
                <if test="rank !=null">
                rank,
                </if>
                <if test="sendFlag !=null">
                send_flag,
                </if>
                <if test="deleted !=null">
                deleted,
                </if>
                <if test="gmtModified !=null">
                gmt_modified,
                </if>
                <if test="gmtCreate !=null">
                gmt_create,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="appId != null">
                    #{appId,jdbcType=BIGINT},
                </if>
                <if test="bizFunctionId != null">
                    #{bizFunctionId,jdbcType=BIGINT},
                </if>
                <if test="appServicerId != null">
                    #{appServicerId,jdbcType=BIGINT},
                </if>
                <if test="messageTemplateId != null">
                    #{messageTemplateId,jdbcType=BIGINT},
                </if>
                <if test="sendRuleId != null">
                    #{sendRuleId,jdbcType=BIGINT},
                </if>
                <if test="businessTypeId != null">
                    #{businessTypeId,jdbcType=BIGINT},
                </if>
                <if test="rank != null">
                    #{rank,jdbcType=INTEGER},
                </if>
                <if test="sendFlag != null">
                    #{sendFlag,jdbcType=SMALLINT},
                </if>
                <if test="deleted != null">
                    #{deleted,jdbcType=BIT},
                </if>
                <if test="gmtModified != null">
                    #{gmtModified,jdbcType=TIMESTAMP},
                </if>
                <if test="gmtCreate != null">
                    #{gmtCreate,jdbcType=TIMESTAMP},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.beitu.saas.sms.entity.SmsBusinessRef">
        update sms_business_ref
        <set>
                <if test="appId !=null">
                app_id = #{appId,jdbcType=BIGINT},
                </if>
                <if test="bizFunctionId !=null">
                biz_function_id = #{bizFunctionId,jdbcType=BIGINT},
                </if>
                <if test="appServicerId !=null">
                app_servicer_id = #{appServicerId,jdbcType=BIGINT},
                </if>
                <if test="messageTemplateId !=null">
                message_template_id = #{messageTemplateId,jdbcType=BIGINT},
                </if>
                <if test="sendRuleId !=null">
                send_rule_id = #{sendRuleId,jdbcType=BIGINT},
                </if>
                <if test="businessTypeId !=null">
                business_type_id = #{businessTypeId,jdbcType=BIGINT},
                </if>
                <if test="rank !=null">
                rank = #{rank,jdbcType=INTEGER},
                </if>
                <if test="sendFlag !=null">
                send_flag = #{sendFlag,jdbcType=SMALLINT},
                </if>
                <if test="deleted !=null">
                deleted = #{deleted,jdbcType=BIT},
                </if>
                <if test="gmtModified !=null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
                </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey">
        update  sms_business_ref
        set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="paginationSql">
        <if test="page != null">
            limit  #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="paging">
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sms_business_ref
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="appId !=null">
                and app_id = #{appId,jdbcType=BIGINT}
            </if>
            <if test="bizFunctionId !=null">
                and biz_function_id = #{bizFunctionId,jdbcType=BIGINT}
            </if>
            <if test="appServicerId !=null">
                and app_servicer_id = #{appServicerId,jdbcType=BIGINT}
            </if>
            <if test="messageTemplateId !=null">
                and message_template_id = #{messageTemplateId,jdbcType=BIGINT}
            </if>
            <if test="sendRuleId !=null">
                and send_rule_id = #{sendRuleId,jdbcType=BIGINT}
            </if>
            <if test="businessTypeId !=null">
                and business_type_id = #{businessTypeId,jdbcType=BIGINT}
            </if>
            <if test="rank !=null">
                and rank = #{rank,jdbcType=INTEGER}
            </if>
            <if test="sendFlag !=null">
                and send_flag = #{sendFlag,jdbcType=SMALLINT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        <include refid="paging"/>
    </select>
    <select id="queryTotal" resultType="INTEGER">
        select count(*) from sms_business_ref
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="appId !=null">
                and app_id = #{appId,jdbcType=BIGINT}
            </if>
            <if test="bizFunctionId !=null">
                and biz_function_id = #{bizFunctionId,jdbcType=BIGINT}
            </if>
            <if test="appServicerId !=null">
                and app_servicer_id = #{appServicerId,jdbcType=BIGINT}
            </if>
            <if test="messageTemplateId !=null">
                and message_template_id = #{messageTemplateId,jdbcType=BIGINT}
            </if>
            <if test="sendRuleId !=null">
                and send_rule_id = #{sendRuleId,jdbcType=BIGINT}
            </if>
            <if test="businessTypeId !=null">
                and business_type_id = #{businessTypeId,jdbcType=BIGINT}
            </if>
            <if test="rank !=null">
                and rank = #{rank,jdbcType=INTEGER}
            </if>
            <if test="sendFlag !=null">
                and send_flag = #{sendFlag,jdbcType=SMALLINT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>
</mapper>