<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.auth.dao.impl.SaasSmsConfigDictionaryDaoImpl">
    <resultMap id="BaseResultMap" type="com.beitu.saas.auth.entity.SaasSmsConfigDictionary">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sms_type" jdbcType="VARCHAR" property="smsType"/>
        <result column="sms_receiver" jdbcType="VARCHAR" property="smsReceiver"/>
        <result column="sms_content" jdbcType="VARCHAR" property="smsContent"/>
        <result column="biz_code" jdbcType="VARCHAR" property="bizCode"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        sms_type,
        sms_receiver,
        sms_content,
        biz_code,
        deleted,
        gmt_modified,
        gmt_create
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_sms_config_dictionary
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.beitu.saas.auth.entity.SaasSmsConfigDictionary"  useGeneratedKeys="true">
        insert into saas_sms_config_dictionary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="smsType !=null">
                sms_type,
            </if>
            <if test="smsReceiver !=null">
                sms_receiver,
            </if>
            <if test="smsContent !=null">
                sms_content,
            </if>
            <if test="bizCode !=null">
                biz_code,
            </if>
            <if test="deleted !=null">
                deleted,
            </if>
            <if test="gmtModified !=null">
                gmt_modified,
            </if>
            <if test="gmtCreate !=null">
                gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="smsType != null">
                #{smsType,jdbcType=VARCHAR},
            </if>
            <if test="smsReceiver != null">
                #{smsReceiver,jdbcType=VARCHAR},
            </if>
            <if test="smsContent != null">
                #{smsContent,jdbcType=VARCHAR},
            </if>
            <if test="bizCode != null">
                #{bizCode,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.beitu.saas.auth.entity.SaasSmsConfigDictionary">
        update saas_sms_config_dictionary
        <set>
            <if test="smsType !=null">
                sms_type = #{smsType,jdbcType=VARCHAR},
            </if>
            <if test="smsReceiver !=null">
                sms_receiver = #{smsReceiver,jdbcType=VARCHAR},
            </if>
            <if test="smsContent !=null">
                sms_content = #{smsContent,jdbcType=VARCHAR},
            </if>
            <if test="bizCode !=null">
                biz_code = #{bizCode,jdbcType=VARCHAR},
            </if>
            <if test="deleted !=null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified !=null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey">
        update  saas_sms_config_dictionary
        set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="paginationSql">
        <if test="page != null">
            limit  #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="paging">
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_sms_config_dictionary
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="smsType !=null">
                and sms_type = #{smsType,jdbcType=VARCHAR}
            </if>
            <if test="smsReceiver !=null">
                and sms_receiver = #{smsReceiver,jdbcType=VARCHAR}
            </if>
            <if test="smsContent !=null">
                and sms_content = #{smsContent,jdbcType=VARCHAR}
            </if>
            <if test="bizCode !=null">
                and biz_code = #{bizCode,jdbcType=VARCHAR}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        <include refid="paging"/>
    </select>
    <select id="queryTotal" resultType="INTEGER">
        select count(*) from saas_sms_config_dictionary
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="smsType !=null">
                and sms_type = #{smsType,jdbcType=VARCHAR}
            </if>
            <if test="smsReceiver !=null">
                and sms_receiver = #{smsReceiver,jdbcType=VARCHAR}
            </if>
            <if test="smsContent !=null">
                and sms_content = #{smsContent,jdbcType=VARCHAR}
            </if>
            <if test="bizCode !=null">
                and biz_code = #{bizCode,jdbcType=VARCHAR}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>
</mapper>