<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beitu.saas.order.dao.impl.SaasOrderDaoImpl">
    <resultMap id="BaseResultMap" type="com.beitu.saas.order.entity.SaasOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_numb" jdbcType="VARCHAR" property="orderNumb"/>
        <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode"/>
        <result column="channel_code" jdbcType="VARCHAR" property="channelCode"/>
        <result column="borrower_code" jdbcType="VARCHAR" property="borrowerCode"/>
        <result column="real_capital" jdbcType="DECIMAL" property="realCapital"/>
        <result column="total_interest_ratio" jdbcType="DECIMAL" property="totalInterestRatio"/>
        <result column="total_interest_fee" jdbcType="DECIMAL" property="totalInterestFee"/>
        <result column="late_fee_ratio" jdbcType="DECIMAL" property="lateFeeRatio"/>
        <result column="borrow_purpose" jdbcType="VARCHAR" property="borrowPurpose"/>
        <result column="repayment_dt" jdbcType="DATE" property="repaymentDt"/>
        <result column="created_dt" jdbcType="TIMESTAMP" property="createdDt"/>
        <result column="term_url" jdbcType="VARCHAR" property="termUrl"/>
        <result column="is_extend" jdbcType="BIT" property="isExtend"/>
        <result column="relation_order_code" jdbcType="VARCHAR" property="relationOrderCode"/>
        <result column="order_status" jdbcType="SMALLINT" property="orderStatus"/>
        <result column="primary_reviewer_code" jdbcType="VARCHAR" property="primaryReviewerCode"/>
        <result column="final_reviewer_code" jdbcType="VARCHAR" property="finalReviewerCode"/>
        <result column="loan_lender_code" jdbcType="VARCHAR" property="loanLenderCode"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,
    order_numb,
    merchant_code,
    channel_code,
    borrower_code,
    real_capital,
    total_interest_ratio,
    total_interest_fee,
    late_fee_ratio,
    borrow_purpose,
    repayment_dt,
    created_dt,
    term_url,
    is_extend,
    relation_order_code,
    order_status,
    primary_reviewer_code,
    final_reviewer_code,
    loan_lender_code,
    remark,
    version,
    deleted,
    gmt_modified,
    gmt_create
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_order
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.beitu.saas.order.entity.SaasOrder" useGeneratedKeys="true">
        insert into saas_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNumb !=null">
                order_numb,
            </if>
            <if test="merchantCode !=null">
                merchant_code,
            </if>
            <if test="channelCode !=null">
                channel_code,
            </if>
            <if test="borrowerCode !=null">
                borrower_code,
            </if>
            <if test="realCapital !=null">
                real_capital,
            </if>
            <if test="totalInterestRatio !=null">
                total_interest_ratio,
            </if>
            <if test="totalInterestFee !=null">
                total_interest_fee,
            </if>
            <if test="lateFeeRatio !=null">
                late_fee_ratio,
            </if>
            <if test="borrowPurpose !=null">
                borrow_purpose,
            </if>
            <if test="repaymentDt !=null">
                repayment_dt,
            </if>
            <if test="createdDt !=null">
                created_dt,
            </if>
            <if test="termUrl !=null">
                term_url,
            </if>
            <if test="isExtend !=null">
                is_extend,
            </if>
            <if test="relationOrderCode !=null">
                relation_order_code,
            </if>
            <if test="orderStatus !=null">
                order_status,
            </if>
            <if test="primaryReviewerCode !=null">
                primary_reviewer_code,
            </if>
            <if test="finalReviewerCode !=null">
                final_reviewer_code,
            </if>
            <if test="loanLenderCode !=null">
                loan_lender_code,
            </if>
            <if test="remark !=null">
                remark,
            </if>
            <if test="version !=null">
                version,
            </if>
            <if test="deleted !=null">
                deleted,
            </if>
            <if test="gmtModified !=null">
                gmt_modified,
            </if>
            <if test="gmtCreate !=null">
                gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNumb != null">
                #{orderNumb,jdbcType=VARCHAR},
            </if>
            <if test="merchantCode != null">
                #{merchantCode,jdbcType=VARCHAR},
            </if>
            <if test="channelCode != null">
                #{channelCode,jdbcType=VARCHAR},
            </if>
            <if test="borrowerCode != null">
                #{borrowerCode,jdbcType=VARCHAR},
            </if>
            <if test="realCapital != null">
                #{realCapital,jdbcType=DECIMAL},
            </if>
            <if test="totalInterestRatio != null">
                #{totalInterestRatio,jdbcType=DECIMAL},
            </if>
            <if test="totalInterestFee != null">
                #{totalInterestFee,jdbcType=DECIMAL},
            </if>
            <if test="lateFeeRatio != null">
                #{lateFeeRatio,jdbcType=DECIMAL},
            </if>
            <if test="borrowPurpose != null">
                #{borrowPurpose,jdbcType=VARCHAR},
            </if>
            <if test="repaymentDt != null">
                #{repaymentDt,jdbcType=DATE},
            </if>
            <if test="createdDt != null">
                #{createdDt,jdbcType=TIMESTAMP},
            </if>
            <if test="termUrl != null">
                #{termUrl,jdbcType=VARCHAR},
            </if>
            <if test="isExtend != null">
                #{isExtend,jdbcType=BIT},
            </if>
            <if test="relationOrderCode != null">
                #{relationOrderCode,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=SMALLINT},
            </if>
            <if test="primaryReviewerCode != null">
                #{primaryReviewerCode,jdbcType=VARCHAR},
            </if>
            <if test="finalReviewerCode != null">
                #{finalReviewerCode,jdbcType=VARCHAR},
            </if>
            <if test="loanLenderCode != null">
                #{loanLenderCode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.beitu.saas.order.entity.SaasOrder">
        update saas_order
        <set>
            <if test="orderNumb !=null">
                order_numb = #{orderNumb,jdbcType=VARCHAR},
            </if>
            <if test="merchantCode !=null">
                merchant_code = #{merchantCode,jdbcType=VARCHAR},
            </if>
            <if test="channelCode !=null">
                channel_code = #{channelCode,jdbcType=VARCHAR},
            </if>
            <if test="borrowerCode !=null">
                borrower_code = #{borrowerCode,jdbcType=VARCHAR},
            </if>
            <if test="realCapital !=null">
                real_capital = #{realCapital,jdbcType=DECIMAL},
            </if>
            <if test="totalInterestRatio !=null">
                total_interest_ratio = #{totalInterestRatio,jdbcType=DECIMAL},
            </if>
            <if test="totalInterestFee !=null">
                total_interest_fee = #{totalInterestFee,jdbcType=DECIMAL},
            </if>
            <if test="lateFeeRatio !=null">
                late_fee_ratio = #{lateFeeRatio,jdbcType=DECIMAL},
            </if>
            <if test="borrowPurpose !=null">
                borrow_purpose = #{borrowPurpose,jdbcType=VARCHAR},
            </if>
            <if test="repaymentDt !=null">
                repayment_dt = #{repaymentDt,jdbcType=DATE},
            </if>
            <if test="createdDt !=null">
                created_dt = #{createdDt,jdbcType=TIMESTAMP},
            </if>
            <if test="termUrl !=null">
                term_url = #{termUrl,jdbcType=VARCHAR},
            </if>
            <if test="isExtend !=null">
                is_extend = #{isExtend,jdbcType=BIT},
            </if>
            <if test="relationOrderCode !=null">
                relation_order_code = #{relationOrderCode,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus !=null">
                order_status = #{orderStatus,jdbcType=SMALLINT},
            </if>
            <if test="primaryReviewerCode !=null">
                primary_reviewer_code = #{primaryReviewerCode,jdbcType=VARCHAR},
            </if>
            <if test="finalReviewerCode !=null">
                final_reviewer_code = #{finalReviewerCode,jdbcType=VARCHAR},
            </if>
            <if test="loanLenderCode !=null">
                loan_lender_code = #{loanLenderCode,jdbcType=VARCHAR},
            </if>
            <if test="remark !=null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="version !=null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="deleted !=null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified !=null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey">
        update  saas_order
        set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="paginationSql">
        <if test="page != null">
            limit #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="paging">
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_order
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="orderNumb !=null">
                and order_numb = #{orderNumb,jdbcType=VARCHAR}
            </if>
            <if test="merchantCode !=null">
                and merchant_code = #{merchantCode,jdbcType=VARCHAR}
            </if>
            <if test="channelCode !=null">
                and channel_code = #{channelCode,jdbcType=VARCHAR}
            </if>
            <if test="borrowerCode !=null">
                and borrower_code = #{borrowerCode,jdbcType=VARCHAR}
            </if>
            <if test="realCapital !=null">
                and real_capital = #{realCapital,jdbcType=DECIMAL}
            </if>
            <if test="totalInterestRatio !=null">
                and total_interest_ratio = #{totalInterestRatio,jdbcType=DECIMAL}
            </if>
            <if test="totalInterestFee !=null">
                and total_interest_fee = #{totalInterestFee,jdbcType=DECIMAL}
            </if>
            <if test="lateFeeRatio !=null">
                and late_fee_ratio = #{lateFeeRatio,jdbcType=DECIMAL}
            </if>
            <if test="borrowPurpose !=null">
                and borrow_purpose = #{borrowPurpose,jdbcType=VARCHAR}
            </if>
            <if test="repaymentDt !=null">
                and repayment_dt = #{repaymentDt,jdbcType=DATE}
            </if>
            <if test="createdDt !=null">
                and created_dt = #{createdDt,jdbcType=TIMESTAMP}
            </if>
            <if test="termUrl !=null">
                and term_url = #{termUrl,jdbcType=VARCHAR}
            </if>
            <if test="isExtend !=null">
                and is_extend = #{isExtend,jdbcType=BIT}
            </if>
            <if test="relationOrderCode !=null">
                and relation_order_code = #{relationOrderCode,jdbcType=VARCHAR}
            </if>
            <if test="orderStatus !=null">
                and order_status = #{orderStatus,jdbcType=SMALLINT}
            </if>
            <if test="primaryReviewerCode !=null">
                and primary_reviewer_code = #{primaryReviewerCode,jdbcType=VARCHAR}
            </if>
            <if test="finalReviewerCode !=null">
                and final_reviewer_code = #{finalReviewerCode,jdbcType=VARCHAR}
            </if>
            <if test="loanLenderCode !=null">
                and loan_lender_code = #{loanLenderCode,jdbcType=VARCHAR}
            </if>
            <if test="remark !=null">
                and remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="version !=null">
                and version = #{version,jdbcType=BIGINT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        <include refid="paging"/>
    </select>
    <select id="queryTotal" resultType="INTEGER">
        select count(*) from saas_order
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="orderNumb !=null">
                and order_numb = #{orderNumb,jdbcType=VARCHAR}
            </if>
            <if test="merchantCode !=null">
                and merchant_code = #{merchantCode,jdbcType=VARCHAR}
            </if>
            <if test="channelCode !=null">
                and channel_code = #{channelCode,jdbcType=VARCHAR}
            </if>
            <if test="borrowerCode !=null">
                and borrower_code = #{borrowerCode,jdbcType=VARCHAR}
            </if>
            <if test="realCapital !=null">
                and real_capital = #{realCapital,jdbcType=DECIMAL}
            </if>
            <if test="totalInterestRatio !=null">
                and total_interest_ratio = #{totalInterestRatio,jdbcType=DECIMAL}
            </if>
            <if test="totalInterestFee !=null">
                and total_interest_fee = #{totalInterestFee,jdbcType=DECIMAL}
            </if>
            <if test="lateFeeRatio !=null">
                and late_fee_ratio = #{lateFeeRatio,jdbcType=DECIMAL}
            </if>
            <if test="borrowPurpose !=null">
                and borrow_purpose = #{borrowPurpose,jdbcType=VARCHAR}
            </if>
            <if test="repaymentDt !=null">
                and repayment_dt = #{repaymentDt,jdbcType=DATE}
            </if>
            <if test="createdDt !=null">
                and created_dt = #{createdDt,jdbcType=TIMESTAMP}
            </if>
            <if test="termUrl !=null">
                and term_url = #{termUrl,jdbcType=VARCHAR}
            </if>
            <if test="isExtend !=null">
                and is_extend = #{isExtend,jdbcType=BIT}
            </if>
            <if test="relationOrderCode !=null">
                and relation_order_code = #{relationOrderCode,jdbcType=VARCHAR}
            </if>
            <if test="orderStatus !=null">
                and order_status = #{orderStatus,jdbcType=SMALLINT}
            </if>
            <if test="primaryReviewerCode !=null">
                and primary_reviewer_code = #{primaryReviewerCode,jdbcType=VARCHAR}
            </if>
            <if test="finalReviewerCode !=null">
                and final_reviewer_code = #{finalReviewerCode,jdbcType=VARCHAR}
            </if>
            <if test="loanLenderCode !=null">
                and loan_lender_code = #{loanLenderCode,jdbcType=VARCHAR}
            </if>
            <if test="remark !=null">
                and remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="version !=null">
                and version = #{version,jdbcType=BIGINT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>
</mapper>