<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserBankDaoImpl">
    <resultMap id="BaseResultMap" type="com.fqgj.youjie.user.entity.UserBank">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_code" jdbcType="VARCHAR" property="userCode"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="bankName" jdbcType="VARCHAR" property="bankName"/>
        <result column="provider_type" jdbcType="TINYINT" property="providerType"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="identity_no" jdbcType="VARCHAR" property="identityNo"/>
        <result column="detail_id" jdbcType="BIGINT" property="detailId"/>
        <result column="success" jdbcType="BIT" property="success"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        user_id,
        user_code,
        `type`,
        bankName,
        provider_type,
        mobile,
        `number`,
        `name`,
        identity_no,
        detail_id,
        success,
        deleted,
        gmt_modified,
        gmt_create
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user_bank
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fqgj.youjie.user.entity.UserBank" useGeneratedKeys="true">
        insert into user_bank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId !=null">
            user_id,
            </if>
            <if test="userCode !=null">
                user_code,
            </if>
            <if test="type !=null">
            `type`,
            </if>
            <if test="bankName !=null">
            bankName,
            </if>
            <if test="providerType !=null">
            provider_type,
            </if>
            <if test="mobile !=null">
            mobile,
            </if>
            <if test="number !=null">
            `number`,
            </if>
            <if test="name !=null">
            `name`,
            </if>
            <if test="identityNo !=null">
            identity_no,
            </if>
            <if test="detailId !=null">
            detail_id,
            </if>
            <if test="success !=null">
            success,
            </if>
            <if test="deleted !=null">
            deleted,
            </if>
            <if test="gmtModified !=null">
            gmt_modified,
            </if>
            <if test="gmtCreate !=null">
            gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
            #{userId,jdbcType=BIGINT},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
            #{type,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
            #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="providerType != null">
            #{providerType,jdbcType=TINYINT},
            </if>
            <if test="mobile != null">
            #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
            #{number,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
            #{name,jdbcType=VARCHAR},
            </if>
            <if test="identityNo != null">
            #{identityNo,jdbcType=VARCHAR},
            </if>
            <if test="detailId != null">
            #{detailId,jdbcType=BIGINT},
            </if>
            <if test="success != null">
            #{success,jdbcType=BIT},
            </if>
            <if test="deleted != null">
            #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified != null">
            #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
            #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.fqgj.youjie.user.entity.UserBank">
        update user_bank
        <set>
            <if test="userId !=null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userCode !=null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="type !=null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="bankName !=null">
                bankName = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="providerType !=null">
                provider_type = #{providerType,jdbcType=TINYINT},
            </if>
            <if test="mobile !=null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="number !=null">
                `number` = #{number,jdbcType=VARCHAR},
            </if>
            <if test="name !=null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="identityNo !=null">
                identity_no = #{identityNo,jdbcType=VARCHAR},
            </if>
            <if test="detailId !=null">
                detail_id = #{detailId,jdbcType=BIGINT},
            </if>
            <if test="success !=null">
                success = #{success,jdbcType=BIT},
            </if>
            <if test="deleted !=null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified !=null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey">
        update  user_bank
        set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_bank
        <trim prefix="where" prefixOverrides="and|or">
            <if test="userId !=null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="userCode !=null">
                and user_code = #{userCode,jdbcType=VARCHAR}
            </if>
            <if test="type !=null">
                and  `type` = #{type,jdbcType=VARCHAR}
            </if>
            <if test="bankName !=null">
                and  bankName = #{bankName,jdbcType=VARCHAR}
            </if>
            <if test="providerType !=null">
                and  provider_type = #{providerType,jdbcType=TINYINT}
            </if>
            <if test="mobile !=null">
                and  mobile = #{mobile,jdbcType=VARCHAR}
            </if>
            <if test="number !=null">
                and `number` = #{number,jdbcType=VARCHAR}
            </if>
            <if test="name !=null">
                and  `name` = #{name,jdbcType=VARCHAR}
            </if>
            <if test="identityNo !=null">
                and identity_no = #{identityNo,jdbcType=VARCHAR}
            </if>
            <if test="detailId !=null">
                and  detail_id = #{detailId,jdbcType=BIGINT}
            </if>
            <if test="success !=null">
                and success = #{success,jdbcType=BIT}
            </if>
            <if test="deleted !=null">
                and  deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and  gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="startDate != null">
                and gmt_create >= #{startDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                and gmt_create &lt;= #{endDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        ORDER BY gmt_create DESC
        <include refid="paginationSql"/>
    </select>


    <sql id="paginationSql">
        <if test="page != null">
            limit  #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}
        </if>
    </sql>
</mapper>