<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserIdentityBackRecognitionDaoImpl">
    <resultMap id="BaseResultMap" type="com.fqgj.youjie.user.entity.UserIdentityBackRecognition">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_code" jdbcType="VARCHAR" property="userCode"/>
        <result column="back_url" jdbcType="VARCHAR" property="backUrl"/>
        <result column="valid_date" jdbcType="VARCHAR" property="validDate"/>
        <result column="id_photo_value" jdbcType="DOUBLE" property="idPhotoValue"/>
        <result column="id_photo_and_screen_value" jdbcType="DOUBLE" property="idPhotoAndScreenValue"/>
        <result column="detail_id" jdbcType="BIGINT" property="detailId"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        user_id,
        user_code,
        back_url,
        valid_date,
        id_photo_value,
        id_photo_and_screen_value,
        detail_id,
        deleted,
        gmt_modified,
        gmt_create
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_identity_back_recognition
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fqgj.youjie.user.entity.UserIdentityBackRecognition"  useGeneratedKeys="true">
        insert into user_identity_back_recognition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId !=null">
                user_id,
            </if>
            <if test="userCode !=null">
                user_code,
            </if>
            <if test="backUrl !=null">
                back_url,
            </if>
            <if test="validDate !=null">
                valid_date,
            </if>
            <if test="idPhotoValue !=null">
                id_photo_value,
            </if>
            <if test="idPhotoAndScreenValue !=null">
                id_photo_and_screen_value,
            </if>
            <if test="detailId !=null">
                detail_id,
            </if>
            <if test="deleted !=null">
                deleted,
            </if>
            <if test="gmtModified !=null">
                gmt_modified,
            </if>
            <if test="gmtCreate !=null">
                gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="backUrl != null">
                #{backUrl,jdbcType=VARCHAR},
            </if>
            <if test="validDate != null">
                #{validDate,jdbcType=VARCHAR},
            </if>
            <if test="idPhotoValue != null">
                #{idPhotoValue,jdbcType=DOUBLE},
            </if>
            <if test="idPhotoAndScreenValue != null">
                #{idPhotoAndScreenValue,jdbcType=DOUBLE},
            </if>
            <if test="detailId != null">
                #{detailId,jdbcType=BIGINT},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.fqgj.youjie.user.entity.UserIdentityBackRecognition">
        update user_identity_back_recognition
        <set>
            <if test="userId !=null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userCode !=null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="backUrl !=null">
                back_url = #{backUrl,jdbcType=VARCHAR},
            </if>
            <if test="validDate !=null">
                valid_date = #{validDate,jdbcType=VARCHAR},
            </if>
            <if test="idPhotoValue !=null">
                id_photo_value = #{idPhotoValue,jdbcType=DOUBLE},
            </if>
            <if test="idPhotoAndScreenValue !=null">
                id_photo_and_screen_value = #{idPhotoAndScreenValue,jdbcType=DOUBLE},
            </if>
            <if test="detailId !=null">
                detail_id = #{detailId,jdbcType=BIGINT},
            </if>
            <if test="deleted !=null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified !=null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey">
        update  user_identity_back_recognition
        set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="paginationSql">
        <if test="page != null">
            limit  #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="paging">
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_identity_back_recognition
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="userId !=null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="userCode !=null">
                and user_code = #{userCode,jdbcType=VARCHAR}
            </if>
            <if test="backUrl !=null">
                and back_url = #{backUrl,jdbcType=VARCHAR}
            </if>
            <if test="validDate !=null">
                and valid_date = #{validDate,jdbcType=VARCHAR}
            </if>
            <if test="idPhotoValue !=null">
                and id_photo_value = #{idPhotoValue,jdbcType=DOUBLE}
            </if>
            <if test="idPhotoAndScreenValue !=null">
                and id_photo_and_screen_value = #{idPhotoAndScreenValue,jdbcType=DOUBLE}
            </if>
            <if test="detailId !=null">
                and detail_id = #{detailId,jdbcType=BIGINT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        <include refid="paging"/>
    </select>
    <select id="queryTotal" resultType="INTEGER">
        select count(*) from user_identity_back_recognition
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="userId !=null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="userCode !=null">
                and user_code = #{userCode,jdbcType=VARCHAR}
            </if>
            <if test="backUrl !=null">
                and back_url = #{backUrl,jdbcType=VARCHAR}
            </if>
            <if test="validDate !=null">
                and valid_date = #{validDate,jdbcType=VARCHAR}
            </if>
            <if test="idPhotoValue !=null">
                and id_photo_value = #{idPhotoValue,jdbcType=DOUBLE}
            </if>
            <if test="idPhotoAndScreenValue !=null">
                and id_photo_and_screen_value = #{idPhotoAndScreenValue,jdbcType=DOUBLE}
            </if>
            <if test="detailId !=null">
                and detail_id = #{detailId,jdbcType=BIGINT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>
</mapper>