<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserIdentityFrontRecognitionDaoImpl">
    <resultMap id="BaseResultMap" type="com.fqgj.youjie.user.entity.UserIdentityFrontRecognition">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_code" jdbcType="VARCHAR" property="userCode"/>
        <result column="front_url" jdbcType="VARCHAR" property="frontUrl"/>
        <result column="face_ref_url" jdbcType="VARCHAR" property="faceRefUrl"/>
        <result column="race" jdbcType="VARCHAR" property="race"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="identity_no" jdbcType="VARCHAR" property="identityNo"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="id_photo_value" jdbcType="DOUBLE" property="idPhotoValue"/>
        <result column="id_photo_and_screen_value" jdbcType="DOUBLE" property="idPhotoAndScreenValue"/>
        <result column="detail_id" jdbcType="BIGINT" property="detailId"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        user_id,
        user_code,
        front_url,
        face_ref_url,
        race,
        `name`,
        gender,
        identity_no,
        birthday,
        address,
        id_photo_value,
        id_photo_and_screen_value,
        detail_id,
        deleted,
        gmt_modified,
        gmt_create
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_identity_front_recognition
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fqgj.youjie.user.entity.UserIdentityFrontRecognition"  useGeneratedKeys="true">
        insert into user_identity_front_recognition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId !=null">
                user_id,
            </if>
            <if test="userCode !=null">
                user_code,
            </if>
            <if test="frontUrl !=null">
                front_url,
            </if>
            <if test="faceRefUrl !=null">
                face_ref_url,
            </if>
            <if test="race !=null">
                race,
            </if>
            <if test="name !=null">
                `name`,
            </if>
            <if test="gender !=null">
                gender,
            </if>
            <if test="identityNo !=null">
                identity_no,
            </if>
            <if test="birthday !=null">
                birthday,
            </if>
            <if test="address !=null">
                address,
            </if>
            <if test="idPhotoValue !=null">
                id_photo_value,
            </if>
            <if test="idPhotoAndScreenValue !=null">
                id_photo_and_screen_value,
            </if>
            <if test="detailId !=null">
                detail_id,
            </if>
            <if test="deleted !=null">
                deleted,
            </if>
            <if test="gmtModified !=null">
                gmt_modified,
            </if>
            <if test="gmtCreate !=null">
                gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="frontUrl != null">
                #{frontUrl,jdbcType=VARCHAR},
            </if>
            <if test="faceRefUrl != null">
                #{faceRefUrl,jdbcType=VARCHAR},
            </if>
            <if test="race != null">
                #{race,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="identityNo != null">
                #{identityNo,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="idPhotoValue != null">
                #{idPhotoValue,jdbcType=DOUBLE},
            </if>
            <if test="idPhotoAndScreenValue != null">
                #{idPhotoAndScreenValue,jdbcType=DOUBLE},
            </if>
            <if test="detailId != null">
                #{detailId,jdbcType=BIGINT},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.fqgj.youjie.user.entity.UserIdentityFrontRecognition">
        update user_identity_front_recognition
        <set>
            <if test="userId !=null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userCode !=null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="frontUrl !=null">
                front_url = #{frontUrl,jdbcType=VARCHAR},
            </if>
            <if test="faceRefUrl !=null">
                face_ref_url = #{faceRefUrl,jdbcType=VARCHAR},
            </if>
            <if test="race !=null">
                race = #{race,jdbcType=VARCHAR},
            </if>
            <if test="name !=null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender !=null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="identityNo !=null">
                identity_no = #{identityNo,jdbcType=VARCHAR},
            </if>
            <if test="birthday !=null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="address !=null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="idPhotoValue !=null">
                id_photo_value = #{idPhotoValue,jdbcType=DOUBLE},
            </if>
            <if test="idPhotoAndScreenValue !=null">
                id_photo_and_screen_value = #{idPhotoAndScreenValue,jdbcType=DOUBLE},
            </if>
            <if test="detailId !=null">
                detail_id = #{detailId,jdbcType=BIGINT},
            </if>
            <if test="deleted !=null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="gmtModified !=null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey">
        update  user_identity_front_recognition
        set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="paginationSql">
        <if test="page != null">
            limit  #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="paging">
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_identity_front_recognition
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="userId !=null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="userCode !=null">
                and user_code = #{userCode,jdbcType=VARCHAR}
            </if>
            <if test="frontUrl !=null">
                and front_url = #{frontUrl,jdbcType=VARCHAR}
            </if>
            <if test="faceRefUrl !=null">
                and face_ref_url = #{faceRefUrl,jdbcType=VARCHAR}
            </if>
            <if test="race !=null">
                and race = #{race,jdbcType=VARCHAR}
            </if>
            <if test="name !=null">
                and `name` = #{name,jdbcType=VARCHAR}
            </if>
            <if test="gender !=null">
                and gender = #{gender,jdbcType=VARCHAR}
            </if>
            <if test="identityNo !=null">
                and identity_no = #{identityNo,jdbcType=VARCHAR}
            </if>
            <if test="birthday !=null">
                and birthday = #{birthday,jdbcType=DATE}
            </if>
            <if test="address !=null">
                and address = #{address,jdbcType=VARCHAR}
            </if>
            <if test="idPhotoValue !=null">
                and id_photo_value = #{idPhotoValue,jdbcType=DOUBLE}
            </if>
            <if test="idPhotoAndScreenValue !=null">
                and id_photo_and_screen_value = #{idPhotoAndScreenValue,jdbcType=DOUBLE}
            </if>
            <if test="detailId !=null">
                and detail_id = #{detailId,jdbcType=BIGINT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        <include refid="paging"/>
    </select>
    <select id="queryTotal" resultType="INTEGER">
        select count(*) from user_identity_front_recognition
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="userId !=null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="userCode !=null">
                and user_code = #{userCode,jdbcType=VARCHAR}
            </if>
            <if test="frontUrl !=null">
                and front_url = #{frontUrl,jdbcType=VARCHAR}
            </if>
            <if test="faceRefUrl !=null">
                and face_ref_url = #{faceRefUrl,jdbcType=VARCHAR}
            </if>
            <if test="race !=null">
                and race = #{race,jdbcType=VARCHAR}
            </if>
            <if test="name !=null">
                and `name` = #{name,jdbcType=VARCHAR}
            </if>
            <if test="gender !=null">
                and gender = #{gender,jdbcType=VARCHAR}
            </if>
            <if test="identityNo !=null">
                and identity_no = #{identityNo,jdbcType=VARCHAR}
            </if>
            <if test="birthday !=null">
                and birthday = #{birthday,jdbcType=DATE}
            </if>
            <if test="address !=null">
                and address = #{address,jdbcType=VARCHAR}
            </if>
            <if test="idPhotoValue !=null">
                and id_photo_value = #{idPhotoValue,jdbcType=DOUBLE}
            </if>
            <if test="idPhotoAndScreenValue !=null">
                and id_photo_and_screen_value = #{idPhotoAndScreenValue,jdbcType=DOUBLE}
            </if>
            <if test="detailId !=null">
                and detail_id = #{detailId,jdbcType=BIGINT}
            </if>
            <if test="deleted !=null">
                and deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="gmtModified !=null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtCreate !=null">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>
</mapper>