<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.LenderRejectOrderDaoImpl">

    <select id="selectOrderIdsByUserIdAndStartDate" parameterType="HashMap" resultType="Long">
        SELECT order_id
        FROM lender_reject_order
        WHERE user_id = #{userId,jdbcType=BIGINT}
        <if test="startDate !=null">
            AND gmt_create > #{startDate,jdbcType=VARCHAR}
        </if>
        AND deleted=0
    </select>

    <select id="selectByUserIdAndOrderId" parameterType="HashMap" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM lender_reject_order
        WHERE user_id = #{userId,jdbcType=BIGINT}
        AND order_id = #{orderId,jdbcType=BIGINT}
        AND deleted = 0
        ORDER BY id DESC limit 1
    </select>

</mapper>