<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.ReportQueryOrderDaoImpl">

    <select id="selectByUserIdAndStatus" parameterType="HashMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from report_query_order
        where user_id = #{userId,jdbcType=BIGINT}
        and status = #{status,jdbcType=TINYINT}
        and deleted=0
        order by gmt_create desc limit 1
    </select>

</mapper>