<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserBankOrderDaoImpl">

    <select id="selectByUserIdAndOpAndStatus" parameterType="HashMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_bank_order
        where user_id = #{userId,jdbcType=BIGINT}
        <if test="opType !=null">
            and op_type = #{opType,jdbcType=INTEGER}
        </if>
        <if test="status !=null">
            and status = #{status,jdbcType=TINYINT}
        </if>
        and deleted=0
        <include refid="paginationSql"/>
    </select>

    <select id="selectByOrderNo" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_bank_order
        where order_no = #{orderNo,jdbcType=VARCHAR} and deleted=0 limit 1
    </select>

    <select id="countBankBalance" resultType="java.lang.Double">
        SELECT SUM(`amount`)  FROM `user_bank_order`
        <trim prefix="where" prefixOverrides="and|or">
            <if test="opType !=null">
                AND  op_type = #{opType,jdbcType=TINYINT}
            </if>
            <if test="status !=null">
                AND  status = #{status,jdbcType=TINYINT}
            </if>
            <if test="gmtCreate !=null">
                and  gmt_create >= #{gmt_create,jdbcType=TIMESTAMP}
            </if>
            <if test="startDate != null">
                and gmt_create >= #{startDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                and gmt_create &lt;= #{endDate,jdbcType=TIMESTAMP}
            </if>
            and  deleted =0
        </trim>
    </select>

</mapper>