<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserIdentityBackRecognitionDaoImpl">

    <select id="selectByUserId" parameterType="Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `user_identity_back_recognition`
        WHERE `user_id` = #{userId,jdbcType=BIGINT} AND `deleted`=0
        ORDER BY `id` DESC limit 1
    </select>

    <update id="deleteByUserId">
        UPDATE `user_identity_back_recognition`
        SET `deleted` = 1
        WHERE `user_id` = #{userId,jdbcType=BIGINT} AND `deleted` = 0
    </update>

</mapper>