<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserZmCreditDaoImpl">

    <select id="selectByUserId" parameterType="Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_zm_credit
        where user_id = #{userId,jdbcType=BIGINT} and deleted=0 limit 1
    </select>

    <select id="selectByIdentityNo" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_zm_credit
        where identity_no = #{identityNo,jdbcType=VARCHAR} and deleted=0 limit 1
    </select>

    <update id="deleteByUserId">
        update user_zm_credit
        set deleted=1
        where user_id=#{userId,jdbcType=BIGINT}
    </update>

</mapper>