<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserTransferOrderDaoImpl">

    <select id="countByUserIdAndTargetId" parameterType="HashMap" resultType="Integer">
        SELECT count(*) FROM
        (
        SELECT
        id,user_id,target_id,`value`,fee,user_comment AS `comment`,gmt_create
        FROM user_transfer_order
        WHERE user_id = #{userId,jdbcType=BIGINT}
        AND target_id = #{targetId,jdbcType=BIGINT}
        AND `status` = 1 AND deleted = 0
        UNION ALL
        SELECT
        id,user_id,target_id,`value`,fee,target_comment AS `comment`,gmt_create
        FROM user_transfer_order
        WHERE user_id = #{targetId,jdbcType=BIGINT}
        AND target_id = #{userId,jdbcType=BIGINT}
        AND `status` = 1 AND deleted = 0
        ) t
    </select>

    <select id="selectByUserIdAndTargetAndPage" parameterType="HashMap" resultMap="BaseResultMap">
        SELECT * FROM
        (
        SELECT
        id,user_id,target_id,`value`,fee,user_comment AS `comment`,gmt_create
        FROM user_transfer_order
        WHERE user_id = #{userId,jdbcType=BIGINT}
        AND target_id = #{targetId,jdbcType=BIGINT}
        AND `status` = 1 AND deleted = 0
        UNION ALL
        SELECT
        id,user_id,target_id,`value`,fee,target_comment AS `comment`,gmt_create
        FROM user_transfer_order
        WHERE user_id = #{targetId,jdbcType=BIGINT}
        AND target_id = #{userId,jdbcType=BIGINT}
        AND `status` = 1 AND deleted = 0
        ) t ORDER BY t.id DESC
        <include refid="paginationSql"/>
    </select>

</mapper>