<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserReportCreditHistoryDaoImpl">

    <select id="selectReportStat" parameterType="map" resultType="com.fqgj.youjie.user.model.ReportStatVo">
        select sum(case when op_type=0 then credit else null end ) useReportNum ,
        sum(case when op_type=1 and comment='系统赠送' then credit else null end) sendReportNum,
        sum(case when op_type=1 and comment='充值' then credit else null end) buyReportNum
        from user_report_credit_history
        where user_id = #{userId,jdbcType=INTEGER};
    </select>
</mapper>