<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserAuthFaceRecognitionDetailDaoImpl">

    <insert id="insertList" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO `user_auth_face_recognition_detail`
        (
        `user_id`,
         user_code,
        `type`,
        `request_id`,
        `detail_info`
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.userId, jdbcType=BIGINT},
            #{item.userCode, jdbcType=VARCHAR},
            #{item.type, jdbcType=INTEGER},
            #{item.requestId, jdbcType=VARCHAR},
            #{item.detailInfo, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectDetailCount" parameterType="HashMap" resultType="INTEGER">
        SELECT COUNT(*)
        FROM `user_auth_face_recognition_detail`
        WHERE
        <if test="userId != null">
            `user_id` = #{userId, jdbcType=BIGINT} AND
        </if>
        <if test="type != null">
            `type` = #{type, jdbcType=TINYINT} AND
        </if>
        <if test="startDate != null">
            `gmt_create` >= #{startDate, jdbcType=TIMESTAMP} AND
        </if>
        <if test="endDate != null">
            `gmt_create` &lt; #{endDate, jdbcType=TIMESTAMP} AND
        </if>
        `deleted` = 0
    </select>

</mapper>