<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserDaoImpl">

    <select id="selectByMobile" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where mobile = #{mobile,jdbcType=VARCHAR} and deleted=0 limit 1
    </select>

    <select id="isMobileExist" parameterType="String" resultType="java.lang.Integer">
        select COUNT(*)
        from user
        where mobile = #{mobile,jdbcType=VARCHAR}
    </select>

    <select id="selectUserStatus" parameterType="Long" resultType="com.fqgj.youjie.user.model.UserStatusVo">
        SELECT ("注册成功") AS `comment`,t1.`gmt_create` AS gmtCreate FROM `user` t1 WHERE t1. `id` =#{userId,jdbcType=BIGINT}
        UNION ALL
        SELECT * FROM (SELECT ("实名认证") AS `comment` , t2.`gmt_create` AS gmtCreate  FROM `user_bank` t2 WHERE `user_id` =#{userId,jdbcType=BIGINT} AND t2.`success` =1 ORDER BY `gmt_create` ASC LIMIT 1) t2
        UNION ALL
        SELECT * FROM (SELECT ("生成报告") AS `comment`,t3.`gmt_create` AS gmtCreate FROM `report_query_order` t3 WHERE t3.`user_id` =#{userId,jdbcType=BIGINT} AND t3.`status` =3 ORDER BY t3.`gmt_create` ASC LIMIT 1) t3
        UNION ALL
        SELECT * FROM (SELECT ("发布借款") AS `comment`,t4.`gmt_create` AS gmtCreate FROM `report_query_order` t4 WHERE t4.`user_id` =#{userId,jdbcType=BIGINT}  ORDER BY t4.`gmt_create` ASC LIMIT 1) t4
    </select>

    <select id="selectByUserIds" parameterType="List" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `user`
        WHERE `id` IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND deleted=0
        ORDER BY FIELD
        <foreach item="item" index="index" collection="list" open="(id," separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectByAccount" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where account = #{account,jdbcType=VARCHAR} and deleted = 0
    </select>

    <update id="updateUniqueAccountById">
        update user
        set account = #{account,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectUserCodeById" parameterType="java.lang.Long" resultType="java.lang.String">
    select user_code
    from user
    where id = #{id,jdbcType=BIGINT} and deleted = 0
    </select>

</mapper>