<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserBalanceBillDaoImpl">
    <!--<resultMap id="BaseResultMap" type="com.fqgj.youjie.user.entity.UserBalanceBill">-->
        <!--<id column="id" jdbcType="BIGINT" property="id"/>-->
        <!--<result column="user_id" jdbcType="BIGINT" property="userId"/>-->
        <!--<result column="op_type" jdbcType="TINYINT" property="opType"/>-->
        <!--<result column="bill_type" jdbcType="TINYINT" property="billType"/>-->
        <!--<result column="relation_order_id" jdbcType="BIGINT" property="relationOrderId"/>-->
        <!--<result column="amount" jdbcType="DECIMAL" property="amount"/>-->
        <!--<result column="current_balance" jdbcType="DECIMAL" property="currentBalance"/>-->
        <!--<result column="comment" jdbcType="VARCHAR" property="comment"/>-->
        <!--<result column="deleted" jdbcType="BIT" property="deleted"/>-->
        <!--<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>-->
        <!--<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>-->
    <!--</resultMap>-->
    <sql id="Param_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="userBalanceBill.id != null">
                    and id = #{userBalanceBill.id,jdbcType=BIGINT}
                </if>
                <if test="userBalanceBill.userId != null">
                    and user_id = #{userBalanceBill.userId,jdbcType=BIGINT}
                </if>

            </trim>
        </where>
    </sql>

    <select id="selectUserBalanceBill" resultMap="BaseResultMap">
        SELECT * from user_balance_bill
        <include refid="Param_Where_Clause"/>
        and deleted=0
        ORDER by id DESC
        <include refid="paginationSql"/>
    </select>

    <select id="countUserBalanceBill" resultType="int">
        SELECT count(*) from user_balance_bill
        <include refid="Param_Where_Clause"/>
        and deleted=0
    </select>

    <select id="countBalanceBill" resultType="java.math.BigDecimal">
      SELECT SUM(`amount`)  FROM `user_balance_bill`
        <trim prefix="where" prefixOverrides="and|or">
            <if test="comment !=null">
                and  comment = #{comment,jdbcType=VARCHAR}
            </if>
            <if test="gmtModified !=null">
                and  gmt_modified &lt;= #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="startDate != null">
                and gmt_modified >= #{startDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                and gmt_modified &lt;= #{endDate,jdbcType=TIMESTAMP}
            </if>
            and  deleted =0
        </trim>
    </select>

    <select id="selectBalanceBillById" resultType="com.fqgj.youjie.user.model.UserBalaceBillAndBankVo">
        SELECT t1.`gmt_create` AS gmtCreate,t1.`comment` AS comment,t1.`amount` AS amount,t1.`current_balance` AS currentBalance,t2.`order_no` AS orderNo,t2.`number` AS number,t2.`name` AS name,t1.`user_id` AS userId
        FROM `user_balance_bill` t1
        LEFT JOIN `user_bank_order` t2 ON t1.`relation_order_id` =t2.`id` and t1.`bill_type` =0
        <trim prefix="where" prefixOverrides="and|or">
            <if test="userId !=null">
                and t1.user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="startDate != null">
                and t1.gmt_create >= #{startDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                and t1.gmt_create &lt;= #{endDate,jdbcType=TIMESTAMP}
            </if>
            <if test="opType != null">
                and t1.op_type = #{opType,jdbcType=TINYINT}
            </if>
            and  t1.deleted =0
        </trim>
        ORDER BY t1.`id` desc
        <include refid="paginationSql"/>
    </select>

    <select id="countBalanceBillById" resultType="int">
        SELECT count(1)
        FROM `user_balance_bill` t1
        LEFT JOIN `user_bank_order` t2 ON t1.`relation_order_id` =t2.`id` and t1.`bill_type` =0
        <trim prefix="where" prefixOverrides="and|or">
            <if test="userId !=null">
                and t1.user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="startDate != null">
                and t1.gmt_create >= #{startDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                and t1.gmt_create &lt;= #{endDate,jdbcType=TIMESTAMP}
            </if>
            <if test="opType != null">
                and t1.op_type = #{opType,jdbcType=TINYINT}
            </if>
            and  t1.deleted =0
        </trim>
        ORDER BY t1.`gmt_create` desc
    </select>

    <select id="selectBalance" resultType="com.fqgj.youjie.user.model.UserCountBalanceVo">
        SELECT * FROM
        (SELECT SUM(`value`) AS balance  FROM `user_balance_info` WHERE `user_id` =#{userId,jdbcType=BIGINT})t1,
        (SELECT SUM(`amount`) AS expend FROM `user_balance_bill` WHERE `op_type` =0 AND  `user_id` =#{userId,jdbcType=BIGINT})t2,
        (SELECT SUM(`amount`) AS income FROM `user_balance_bill` WHERE `op_type` =1 AND  `user_id` =#{userId,jdbcType=BIGINT})t3
    </select>
    <!--<sql id="paginationSql">-->
        <!--<if test="page != null">-->
            <!--limit #{page.startIndex,jdbcType=INTEGER},#{page.endIndex,jdbcType=INTEGER}-->
        <!--</if>-->
    <!--</sql>-->
</mapper>