<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserRegisterLogDaoImpl">

    <select id="selectByUserId" parameterType="Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_register_log
        where user_id = #{userId,jdbcType=BIGINT} and deleted=0 limit 1
    </select>

    <select id="selectLatestByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_register_log
        where user_id =#{userId} and deleted=0 order by gmt_create desc limit 1
    </select>

    <select id="selectChannelIdByUserId" resultType="java.lang.Long">
        select channel_id
        from user_register_log
        where user_id =#{userId} and deleted = 0
    </select>

</mapper>