<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserInvitationCodeDaoImpl">

    <select id="selectInvitationCodeByUserIdAndUserCode" resultType="java.lang.String">
        SELECT invitation_code
        FROM user_invitation_code
        where deleted = 0
        <if test="userId !=null">
            and user_id = #{userId,jdbcType=BIGINT}
        </if>
        <if test="userCode !=null">
            and user_code = #{userCode,jdbcType=VARCHAR}
        </if>
        limit 1
    </select>

</mapper>