<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqgj.youjie.user.dao.impl.UserBankDaoImpl">

    <select id="selectByUserId" parameterType="Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_bank
        where user_id = #{userId,jdbcType=BIGINT} and deleted=0
    </select>

    <select id="selectBindedByNumber" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_bank
        where `number` = #{number,jdbcType=VARCHAR} and deleted=0 and success=1 limit 1
    </select>

    <update id="deleteByUserId">
        update  user_bank
        set deleted = 1
        where user_id = #{userId,jdbcType=BIGINT}
    </update>

</mapper>